<div ng-app="app" ng-controller="viewCtrl">  
  <div id="user-info" hidden><%== @user_info %></div>
  <div id="google-config" hidden><%== @google_config %></div>

  <%= render "welcome" %>

  <div class="dayframe clearfix">
    <div class="instructions" ng-hide="auth.user">
      <div id="inst-day" class="instruction">
        <p>Change the day by clicking the arrows.</p>
        <div class="arrow right">
          <div class="arrow-body"></div>
          <div class="arrow-head"></div>
        </div>
      </div>
      <div id="inst-drag1" class="instruction">
        <p>To assign a task for today simply drag it from here...</p>
        <div class="arrow right">
          <div class="arrow-body"></div>
          <div class="arrow-head"></div>
        </div>
      </div>
      <div id="inst-drag2" class="instruction">
        <p>...to here.</p>
        <div class="arrow left">
          <div class="arrow-body"></div>
          <div class="arrow-head"></div>
        </div>
      </div>
      <div id="inst-hours" class="instruction">
        <p>Change the time you start and end the day by clicking the arrows.</p>
        <div class="arrow right">
          <div class="arrow-body"></div>
          <div class="arrow-head"></div>
        </div>
      </div>
    </div>
    <div class="working-area">

      <div class="timeline clearfix">

        <div class="time-label">
          <div class="hour" ng-repeat="hour in hours">
            {{hour}}
          </div>
        </div>

        <div class="snap"></div>
        <div class="time-droppable">
          <div class="hour" ng-repeat="hour in hours">
            <div class="fifteen"></div>
            <div class="fifteen"></div>
            <div class="fifteen"></div>
            <div class="fifteen"></div>
          </div>
          <task class="assigned" ng-repeat="task in tasks.timeline"></task>
          <div id="now-marker"><div class="pointer"></div></div>
        </div>


      </div>
    </div>

    <div class="widget-area">
      
      <%= render "navbar" %>

      <div class="task-list panel panel-default">
        <div class="panel-heading clearfix">
          Task Backlog<a class="btn btn-default" ng-click="modals.task()">Add Task</a>
        </div>
        <div class="panel-body">
          <task ng-repeat="task in tasks.backlog | orderBy:'priority'"></task>
          <div class="no-tasks" ng-hide="tasks.backlog.length">No tasks in backlog.</div>
        </div>
      </div>

      <%= render "wake_sleep" %>

    </div>

  
  </div>
</div>
