<!DOCTYPE html>
<html>
<head>
  <title>DayFrame</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head %>
  <%= favicon_link_tag type: 'image/png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Added these because "rails g devise:install" told me to-->
<!-- <p class="notice"><%= notice %></p> -->
<!-- <p class="alert"><%= alert %></p> -->

<%= yield %>

</body>
</html>
